<?xml version='1.0' encoding='utf-8'?>
<widget version="317" versionCode="15625"
    id="com.bidspirit.prod"
    xmlns="http://www.w3.org/ns/widgets" 
    xmlns:android = "http://schemas.android.com/apk/res/android"
    xmlns:gap="http://phonegap.com/ns/1.0"
    >
    
 
    <name>Bidspirit</name>
    <description>
        The Bidspirit portal is your gate to the auction houses’ arena  trading in art, collectibles, jewelry, antiques, stamps, coins, old books, judaica, and more
    </description>
    <author email="zemer@bidspirit.com" href="http://bidspirit.com">
        Zemer avital
    </author>

    <content src="index.html" />
    
    
   
    
               
    <icon src="icon.png" />
    
    <icon src="icon-android.png" gap:platform="android" />
    
  <icon src="icons/ios/ios_40x40.png" gap:platform="ios" width="40" height="40" />
	<icon src="icons/ios/ios_50x50.png" gap:platform="ios" width="50" height="50" />
	<icon src="icons/ios/ios_57x57.png" gap:platform="ios" width="57" height="57" />
	<icon src="icons/ios/ios_58x58.png" gap:platform="ios" width="58" height="58" />
	<icon src="icons/ios/ios_60x60.png" gap:platform="ios" width="60" height="60" />
	<icon src="icons/ios/ios_72x72.png" gap:platform="ios" width="72" height="72" />
	<icon src="icons/ios/ios_76x76.png" gap:platform="ios" width="76" height="76" />
	<icon src="icons/ios/ios_80x80.png" gap:platform="ios" width="80" height="80" />
	<icon src="icons/ios/ios_100x100.png" gap:platform="ios" width="100" height="100" />
	<icon src="icons/ios/ios_114x114.png" gap:platform="ios" width="114" height="114" />
	<icon src="icons/ios/ios_120x120.png" gap:platform="ios" width="120" height="120" />
	<icon src="icons/ios/ios_152x152.png" gap:platform="ios" width="152" height="152" />
        
  <preference name='phonegap-version' value='cli-7.1.0' />
  <preference name="EnableViewportScale" value="true" />
  <preference name="StatusBarBackgroundColor" value="#000000" />
  
  <preference name="KeyboardDisplayRequiresUserAction" value="false"/>
  
  
  
	
        
	
	
	
	
	
	
	
	
	 
     
</widget>
